
@{
    ViewBag.Title = "Index";
}

<h4>Product Pages</h4>
<ul>
    <li><a href="~/shopping/index/props">Props</a></li>
    <li><a href="~/shopping/index/fx">Special Effects</a></li>
    <li><a href="~/shopping/index/masks">Masks</a></li>
    <li><a href="~/shopping/index/costumes">Costumes</a></li>
</ul>
<h4>Customer Pages</h4>
<ul>
    <li><a href="~/shopping/cart">My Cart</a></li>
    <li><a href="~/shopping/checkout">Checkout</a></li>
    <li><a href="~/shopping/update">My Profile</a></li>
    <li><a href="~/shopping/myorders">My Orders</a></li>
</ul>
<h4>Admin Pages</h4>
<ul>
    <li><a href="~/product/index">Products</a></li>
</ul>